/*list items*/
.header__lang-item{
    max-width: 29px;
    margin: 0 18px 6px 0;
    padding: 0;
}

.header__lang-item:last-child{
    margin-right: 0;
}

@media (max-width: 1280px){
    .header__lang-item{
        max-width: calc(22px + (29 - 22) * ((100vw - 320px) / (1280 - 320)));
        margin-bottom: 0;
        padding-bottom: 0;
    }
}    
