/* __lang-link */
.header__lang-link{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    color: #FFFFFF;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    }

.header__lang-link:hover {
    opacity: 0.8;
}


@media screen and (max-width: 720px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 20px;
    }
  }