.place__image {
    margin: 0;
    padding: 0;
    width: 100%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2/6;
}
  
@media screen and (max-width: 767px) {
    .place__image {
      grid-row: auto;
    }
}
