/* __subtitle */

.cover__subtitle{
    max-width: 360px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 768px) and (min-width: 700px){
    .cover__subtitle{
        padding: 0px 16px 50px;
    }
}

@media screen and (min-width: 321px) and (max-width: 525px) {
    .cover__subtitle{
        padding: 0px 16px 40px;   
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        padding: 0px 16px 33px;   
        font-size: 14px;
        line-height: 16px;
    }
}
