.footer__link-item{
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.footer__link-item:hover {
    opacity: 0.7;
}
