/* __title */
.lead__title{
    max-width: 720px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

@media (max-width: 1280px){
    .lead__title{
        max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (1280 - 320)));
        font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (1280 - 320)));
        line-height: calc(44px + (100 - 44) * ((100vw - 320px) / (1280 - 320)));
        margin-left: calc(24px + (0 - 24) * ((100vw - 320px) / (1280 - 320)));
        margin-right: calc(24px + (0 - 24) * ((100vw - 320px) / (1280 - 320)));;
    } 
}
