/* intro */

.intro {
    max-width: 984px;
    padding-top: 92px;
    padding-left: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

@media screen and (max-width: 1024px) {
    .intro {
      padding: 92px 286px 0 48px;
    }
}
  

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding: 88px 24px 0 24px;
    }
}
  
@media screen and (max-width: 480px) {
    .intro {
      max-width: 288px;
      padding: 66px 16px 0 16px;
      width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .intro {
      max-width: 288px;
      padding: 64px 16px 0 16px;
    }
}
