.cover__background {
    max-width: 1184px;
    width: 100%;
    background: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}


.cover__background::before {
    content: '';
    display: block;
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .cover__background:hover::before {
    opacity: 0.6;
  }
