/* __title */
.cover__title{
    max-width: 560px;
    margin: 245px 312px 32px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    }
    
    
@media (max-width: 1280px){
    .cover__title {
        max-width: calc(288px + (560 - 288) * ((100vw - 320px) / (1280 - 320)));
        margin-top: calc(33px + (245 - 33) * ((100vw - 320px) / (1280 - 320)));
        margin-left: calc(16px + (312 - 16) * ((100vw - 320px) / (1280 - 320)));
        margin-right: calc(16px + (312 - 16) * ((100vw - 320px) / (1280 - 320)));
        margin-bottom: calc(16px + (32 - 16) * ((100vw - 320px) / (1280 - 320)));
        font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1280 - 320)));
        line-height: calc(35px + (76 - 35) * ((100vw - 320px) / (1280 - 320)));
    }
}
    