/* __title */

.intro__title {
    width: 690px;
    max-height: 58px;
    margin: 0 0 40px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

@media (max-width: 1280px){
    .intro__title {
        max-width: calc(288px + (690 - 288) * ((100vw - 320px) / (1280 - 320)));
        max-height: calc(70px + (58 - 70) * ((100vw - 320px) / (1280 - 320)));
        font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (1280 - 320)));
        line-height: calc(35px + (58 - 35) * ((100vw - 320px) / (1280 - 320)));
    }
}
